<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="East_Customs.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="East_Customs.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <East_Customs.Properties.Settings1>
            <setting name="LastInputValue" serializeAs="String">
                <value />
            </setting>
            <setting name="VyfukPrice" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="V12EnginePrice" serializeAs="String">
                <value>12000</value>
            </setting>
            <setting name="V10EnginePrice" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="V8EnginePrice" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="ShonenEnginePrice" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="PrevodovkaL3Price" serializeAs="String">
                <value>12000</value>
            </setting>
            <setting name="PrevodovkaL2Price" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="PrevodovkaL1Price" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="RallySuspensionPrice" serializeAs="String">
                <value>12000</value>
            </setting>
            <setting name="RacingSuspensionPrice" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="StreetSuspensionPrice" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="LowSuspensionPrice" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="TurboPrice" serializeAs="String">
                <value>12000</value>
            </setting>
            <setting name="FlaskaNosNosPrice" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="DoplnenieNosPrice" serializeAs="String">
                <value>3500</value>
            </setting>
            <setting name="ArmorPrice" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="NeprestrelneKolesaPrice" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="XeonyPrice" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="CompetitionBrakePrice" serializeAs="String">
                <value>12000</value>
            </setting>
            <setting name="GtBigBrakesPrice" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="PerformenceBrakesPrice" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="FullServicePrice" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="UmytiePrice" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="PrelakovaniePrice" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="FolieNaSklaPrice" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="KapotaPrice" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="StrechaPrice" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="SkirtsPrice" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="SpoilerPrice" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="PrednyZadnyBumperPrice" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="KolesaRimsPrice" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="DymKoliesPrice" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="FullTuningMaxPrice" serializeAs="String">
                <value>800000</value>
            </setting>
            <setting name="TuningGoldPrice" serializeAs="String">
                <value>650000</value>
            </setting>
            <setting name="TuningBasicPrice" serializeAs="String">
                <value>430000</value>
            </setting>
            <setting name="TuningLowBudgetPrice" serializeAs="String">
                <value>250000</value>
            </setting>
            <setting name="RollCagesPrice" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="InterierovaUpravaPrice" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="ExterierovaUpravaPrice" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="SpzPrice" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TransmissionL1Price" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="TransmissionL2Price" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="TransmissionL3Price" serializeAs="String">
                <value>12000</value>
            </setting>
            <setting name="OpravaPrice" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="ClassicTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EastCustomsTheme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WebhookCode" serializeAs="String">
                <value />
            </setting>
        </East_Customs.Properties.Settings1>
    </userSettings>
</configuration>